/* Empty. Add your own CSS if you like */
.item-input {
    margin: 5px 0px;
}
.has-errors {
    border: 1px solid red;
}
.fixed-height {
    height: 93px;
}
@keyframes refresh {
    0% {border-color: #11c1f3;}
    100% {border-color: #dddddd;}
}
